@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.cal-font {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.calendar-top {
  padding-top: 20px;
}

.calendar {
  margin: auto;
  max-width: 800px;
  min-width: 400px;
  padding: 20px;
}
