body {
}

.home {
  background-image: url("./leaf2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  font-family: Papyrus, fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}