.home {
    /* Sizing */
    display: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

}

.home-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-shadow:
		-.5px -.5px 0 #476275,
		.5px -.5px 0 #476275,
		-.5px .5px 0 #476275,
		.5px .5px 0 #476275;
   top: 50%; right: 0; bottom: 0; left: 50%;
   transform: translate(-50%, -50%);
   position: fixed; 
   overflow: hidden;
}