.box {
  padding: 20px;
  width: 300px;
  height: 300px;
}

#time {
  display: flex;
  flex-direction: row;
}

[type='file'] {
  filter: alpha(opacity=0);
  color: rgba(0, 0, 0, 0);
}

.med-form {
  margin: auto;
  max-width: 800px;
  min-width: 400px;
  padding: 10px;
}
