#rcorners1 {
  border-radius: 25px;
  border: 6px solid rgb(32, 194, 206);
  padding: 20px;
  width: 300px;
  height: 300px;
}

#time {
  display: flex;
  flex-direction: row;
}

[type='file'] {
  filter: alpha(opacity=0);
  color: rgba(0, 0, 0, 0);
}
